@import 'partials/variables';
@import 'partials/hero-section';
@import 'partials/animate';

body {
  font-family: $font-family;
}

/* = I. Sections = */
.byt-sect-mb {
  margin-bottom: 90px !important;
}

.byt-sect-title {
  letter-spacing: -0.5px;
}

.byt-sect-title:after {
  border-bottom: 3px solid $theme-yellow;
  display: block;
  margin: 0 auto;
  content: " ";
  width: 100px;
}

.byt-sect-list {
  list-style: none;
  padding: 0;

  li {
    color: #ffffff;
    margin-bottom: 0.5rem;

    span {
      color: $theme-yellow;
    }
  }
}

.byt-sect-content-p {
  color: $font-grey;
  font-size: 1.3rem;
  font-weight: lighter;
}

.byt-testimon-bgr {
  background: url("../img/testimonial-bgr-2.png") 100% 0 no-repeat;
  margin: 0;
  min-height: 350px;
  background-size: cover;
  border-radius: 0 !important;
}

.byt-carousel {
  padding: 50px 0;
  color: white;

  img {
    width: 200px;
    height: 200px;
  }

  h5 {
    padding-top: 15px;
  }

  p {
    font-weight: lighter;
    margin: 0 auto;
    padding: 15px 0 15px;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* = 1. Section services = */

.byt-service-label {
  position: absolute;
  padding: 8px;
  bottom: 25px;
  right: 20px;

  .byt-service-lbl-yll {
    background: $theme-yellow;
    padding: 8px 10px;

  }

  .byt-service-lbl-bl {
    display: inline-block;
    min-width: 130px !important;
    background: black;
    padding: 8px 10px;
    color: white;
    text-align: center;
  }
}

.byt-service-text {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  position: absolute;
  padding: 15px 30px;
  margin: -30px 0;
  color: white;
  top: 30%;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);


  h4 {
    color: #000;
    font-weight: bolder;
  }

  a {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;

  }
}

/* = 2. Section Projects = */

.byt-project-text {
  display: inline-block;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  position: absolute;
  color: white;
  top: 30%;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 90%;
  height: 90%;
  border: solid 1px white;
  padding: 50px;
  transform: scale(1.3);

  h4 {
    color: #000;
    font-weight: bolder;
  }

  p {
    font-size: 0.9rem;
    font-weight: lighter;
  }

  a {
    font-weight: bolder;
    color: white;

    i {
      font-size: 1.8rem;
    }

  }
}

/* = 3. Section About = */
.byt-sect-about {
  background-color: $theme-white-dark;

  .byt-sect-title:after {
    margin: 0;
  }

  h3 {
    max-width: 50%;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  p {
    color: $theme-grey-light;
  }
}

/* = 4. Section Latest News = */
.byt-cart {
  h6 {
    color: $theme-yellow;
    font-weight: 500;
  }

  i.fas {
    font-size: 0.8em;
  }

  h3 {
    font-weight: 600;

  }

  p {
    color: $theme-grey-light;
  }

  a,
  a:hover,
  a:visited,
  a span,
  a:hover span,
  a:focus span {
    text-decoration: none;
    transition: all 0.2s ease-out;
  }

  a {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
  }

  a:hover {
    color: $theme-yellow;

  }

  a:hover span.byt-rarr {
    margin-left: 0.5rem !important;
    color: $theme-yellow;
  }
}

.byt-card-title {
  letter-spacing: -0.5;
}

.byt-divider {
  margin: 0 6px 0 8px;
}

/* = Section Contact us = */

.byt-sect-contacts {
  background: url("../img/contact-bgr.png") no-repeat;
  min-height: 450px;
  background-size: cover;

  h3.byt-sect-title {
    color: #ffffff;
    padding-bottom: 1rem;
  }

  h3.byt-sect-title:after {
    margin: 0;
  }

  address {
    border: 1px solid $theme-blue-grey;
    padding: 15px;
  }

  /* = Form formating = */

  input:not([type=submit]),
  textarea {
    background-color: $theme-blue-grey;
    border: none;
    padding: 25px;
    color: #fff;
  }

  ::-webkit-input-placeholder { /* = Edge = */
    color: $theme-grey-light;
  }

  :-ms-input-placeholder { /* = Internet Explorer 10-11 = */
    color: $theme-grey-light;
  }

  ::placeholder {
    color: $theme-grey-light;
  }

}

#map {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
}

/* = Footer  = */

footer .byt-footer {
  min-height: 300px;
  background-color: $theme-blue-dark;
  margin: 0;

  .byt-sect-title:after {
    margin: 0;
    max-width: 40px;

  }

  h2 {
    font-size: 0.95em;
    color: $theme-white-dark;
  }

  p, a {
    color: $theme-blue-grey-extralight;
    font-weight: lighter;
  }

  a:hover {
    color: dodgerblue;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  input:not([type=submit]) {
    background-color: $theme-blue-grey;
    border: none;
    color: #fff;
  }

  ::-webkit-input-placeholder { /* = Edge = */
    color: $theme-grey-light;
  }

  :-ms-input-placeholder { /* = Internet Explorer 10-11 = */
    color: $theme-grey-light;
  }

  ::placeholder {
    color: $theme-grey-light;
  }
}

.byt-footer-bottom {
  min-height: 40px;
  background-color: $theme-blue-darker;


  span, p {
    color: $theme-blue-grey-light;
    font-size: 0.9rem;
  }
}

/* = Image hover Effects = */

.byt-img-container {
  position: relative;
  background-color: $theme-yellow;
  padding: 0;
  border: none;
  margin: 0 15px 15px 15px;
}

.byt-project-img-container {
  overflow: hidden;
  position: relative;
  background-color: #000;
  padding: 0;
  border: none;
}

.byt-news-img-container {
  overflow: hidden;
  max-height: 200px;
}


.byt-img-hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  backface-visibility: hidden;
  cursor: grab;
}

.middle {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.byt-img-container:hover .byt-img-hover {
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.byt-project-img-container:hover {

  .byt-img-hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
}
.byt-card-news{
  box-shadow: 0 0 8px #e2e2e2 !important;
  border: none;
}

.byt-card-news:hover {

  .byt-img-hover {
    -webkit-transform: scale(1.25) rotate(-10deg);
    -moz-transform: scale(1.25) rotate(-10deg);
    -ms-transform: scale(1.25) rotate(-10deg);
    -o-transform: scale(1.25) rotate(-10deg);
    transform: scale(1.25) rotate(-10deg);

  }
}

.byt-img-container:hover .middle,
.byt-project-img-container:hover .middle {
  opacity: 1;
  filter: alpha(opacity=100);
}

.byt-img-container:hover {

  .byt-service-label {
    display: none;
  }
}

.byt-img-container:hover {

  .byt-service-text {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

/* = Button Yellow = */

.byt-btn-yellow {
  color: #fff;
  background-color: $btn-yellow-bgr;
  border-color: $btn-yellow-bgr;
}

.byt-btn-yellow:hover {
  color: #fff;
  background-color: $btn-yellow-bgr-hover;
  border-color: $btn-yellow-bgr-hover;
}

/* = ===== Media queries ===== = */

/* = Section Testimonial Carousel Media queries= */
@media all and (min-width: 900px) {

  .carousel-item {
    p {
      width: 50% !important;

    }
  }

}

/* = Section About Company Media queries = */
@media all and (max-width: 576px) {
  .byt-sect-about {
    .byt-sect-title:after {
      margin: 0 auto;
    }

    h3 {
      max-width: 100%;
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  img {
    margin: 0 !important;
    padding: 0 !important;
  }
  .byt-sectabout-img {
    padding: 0;
  }
}

