@import 'partials/variables';
@import 'partials/hero-section';
body {
  font-family: $font-family;
}
/* Sections */
.byt-sect-mb {
  margin-bottom: 90px !important;
}

.byt-sect-title {
  letter-spacing: -0.5px;
}

.byt-sect-title:after {
  border-bottom: 3px solid $theme-yellow;
  display: block;
  margin: 0 auto;
  content: " ";
  width: 100px;
}

.byt-sect-content-p {
  color: $font-grey;
  font-size: 1.3rem;
  font-weight: lighter;
}

.byt-testimon-bgr {
  background: url("../img/testimonial-bgr-2.png") 100% 0 no-repeat;
  margin: 0;
  min-height: 350px;
  background-size: cover;
  border-radius: 0 !important;
}

.byt-carousel {
  padding: 50px 0;
  color: white;

  img {
    width: 200px;
    height: 200px;
  }

  h5 {
    padding-top: 15px;
  }

  p {
    font-weight: lighter;
    margin: 0 auto;
    padding: 15px 0 15px;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* II. Section services */

/* Service image label */

.byt-service-label {
  position: absolute;
  padding: 8px;
  bottom: 25px;
  right: 20px;

  .byt-service-lbl-yll {
    background: $theme-yellow;
    padding: 8px 10px;

  }

  .byt-service-lbl-bl {
    display: inline-block;
    min-width: 130px !important;
    background: black;
    padding: 8px 10px;
    color: white;
    text-align: center;
  }
}

.byt-service-text {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  position: absolute;
  padding: 15px 30px;
  margin: -30px 0;
  color: white;
  top: 30%;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);


  h4 {
    color: #000;
    font-weight: bolder;
  }

  a {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;

  }
}

.byt-project-text {
  display: inline-block;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  position: absolute;
  color: white;
  top: 30%;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 90%;
  height: 90%;
  border: solid 1px white;
  padding: 50px;
  transform: scale(1.3);

  h4 {
    color: #000;
    font-weight: bolder;
  }

  p {
    font-size: 0.9rem;
    font-weight: lighter;
  }

  a {
    font-weight: bolder;
    color: white;

    i {
      font-size: 1.8rem;
    }

  }
}

/* 1. Image hover Effects */

.byt-img-container {
  position: relative;
  background-color: $theme-yellow;
  padding: 0;
  border: none;
  margin: 0 15px 15px 15px;
}

.byt-project-img-container {
  overflow: hidden;
  position: relative;
  background-color: #000;
  padding: 0;
  border: none;
}

.byt-image-hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  backface-visibility: hidden;
  cursor: grab;
}

.middle {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.byt-img-container:hover .byt-image-hover {
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.byt-project-img-container:hover {

  .byt-image-hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
}

.byt-img-container:hover .middle,
.byt-project-img-container:hover .middle {
  opacity: 1;
  filter: alpha(opacity=100);
}

.byt-img-container:hover {

  .byt-service-label {
    display: none;
  }
}

.byt-img-container:hover {

  .byt-service-text {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

