@import 'partials/variables';

body {
  font-family: $font-family;
}

// Section Hero
#hero {
  padding-top: 1rem !important;
}

.byt-top-bgr {
  background: url("../img/hero.jpg") 50% 0 no-repeat fixed;
  margin: 0;
  min-height: 600px;
  background-size: cover;
  border-radius: 0 !important;
}

.byt-top-contacts {
  height: 50px;
  color: white;

  .nav-item {
    color: white;
    letter-spacing: -0.5px;
  }
}

.byt-hero-content {
  padding: 100px;
  text-align: right;
  color: white;

  h1 {
    font-size: 5rem !important;
    font-weight: bolder;

    span {
      color: #f5d109;
    }
  }
}

// Navbar styling

a.nav-link {
  letter-spacing: -1px;
}

li.nav-item:hover {
  border-bottom: 3px solid $theme-yellow;
}

li.nav-item.active {
  border-bottom: 3px solid $theme-yellow;
}

// Button Yellow
.byt-btn-yellow {
  color: #fff;
  background-color: $btn-yellow-bgr;
  border-color: $btn-yellow-border;
}

.byt-btn-yellow:hover {
  color: #fff;
  background-color: $btn-yellow-bgr-hover;
  border-color: $btn-yellow-border;
}


// * Sections
.byt-sect-mb {
  margin-bottom: 90px;
}

.byt-sect-title {
  letter-spacing: -0.5px;
}

.byt-sect-title:after {
  border-bottom: 3px solid $theme-yellow;
  display: block;
  margin: 0 auto;
  content: " ";
  width: 100px;
}

.byt-sect-content-p {
  color: $font-grey;
  font-size: 1.3rem;
  font-weight: lighter;
}

.byt-testimon-bgr {
  background: url("../img/testimonial-bgr-2.png") 100% 0 no-repeat;
  margin: 0;
  min-height: 350px;
  background-size: cover;
  border-radius: 0 !important;
}

.byt-carousel {
  padding: 50px 0;
  color:white;
  img {
    width: 200px;
    height: 200px;
  }
  h5 {
    padding-top: 15px;
  }
  p {
    font-weight: lighter;
    margin: 0 auto;
    padding: 15px 0 15px;
  }
}

.carousel-indicators li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

//  ** Section services
.byt-img-container {
  position: relative;
  color:white;
}

.byt-service-label {
  position: absolute;
  padding: 10px;
  bottom: 15px;
  right: 30px;

  .byt-service-lbl-yll {
    background: $theme-yellow;
    padding: 10px;

  }
  .byt-service-lbl-bl {
    background: black;
    padding: 10px;
  }
}
