/*************************************************************

Theme:          Industrial
Version:        1.0
Last change:    08.02.2020
Primary use:    Multipurpose Industrial Template

  I. [ Global theme styles ]

  II. [ Sections styles ]
    1# GLOBAL SECTION STYLES
    2# HERO SECTION
    3# SERVICES SECTION
    4# TESTIMONIAL SECTION
    5# PROJECTS SECTION
    6# ABOUT SECTION
    7# LATEST NEWS SECTION
    8# CONTACT US SECTION

  III. [ Effects and widgets ]

**********************************************************/
@import "partials/variables";
@import "partials/global";
@import "partials/global-section-styles";
@import "partials/hero-section";
@import "partials/services-section";
@import "partials/testimonial-section";
@import "partials/projects-section";
@import "partials/about-section";
@import "partials/latest-news-section";
@import "partials/contact_section";
@import "partials/footer-section";
@import "partials/effects-and-widgets";
