@import 'partials/variables';

#hero {
  padding-top: 1rem !important;
}
.top-bgr {
  background: url("../img/hero.jpg") 50% 0 no-repeat fixed;
  margin: 0;
  //padding: 200px 0 260px 0;
  min-height: 600px;
  background-size: cover;
  border-radius: 0 !important;
}

.top-contacts {
  height: 50px;
  color: white;
  .nav-item {
    color: white;
    letter-spacing: -0.5px;
  }
}

.hero-content {
  padding: 100px;
  text-align: right;
  color: white;
  h1{
    font-size: 5rem !important;
    span {
      color: #f5d109;
    }
  }
}

// Button Yellow
.btn-yellow {
  color: #fff;
  background-color: $btn-yellow-bgr;
  border-color: $btn-yellow-border;
}

.btn-yellow:hover {
  color: #fff;
  background-color: $btn-yellow-bgr-hover;
  border-color: $btn-yellow-border;
}

a.nav-link:hover {
  border: 3px yellow !important;
}
