/* Section Hero */

#hero {
  padding-top: 1rem !important;
}

.byt-top-bgr {
  background: url("../img/hero.png") no-repeat fixed;
  margin: 0;
  min-height: 600px;
  background-size: cover;
  border-radius: 0 !important;

}

.byt-top-contacts {
  height: 50px;
  color: white;

  .nav-item {
    color: white;
    letter-spacing: -0.5px;
    font-size: 0.85rem;
  }
}

.byt-hero-content {
  padding: 100px;
  text-align: right;
  color: white;

  h1 {
    font-size: 5rem !important;
    font-weight: bolder;

    span {
      color: #f5d109;
    }
  }
}

/* Navbar styling */
.navbar {
  padding: 1rem 1rem;
}
.navbar-brand {
  img {
    width: 10vw;
    height: auto;
  }
}
a.nav-link {
  letter-spacing: -1px;
}

#main-menu li.nav-item:hover {
  border-bottom: 3px solid $theme-yellow;
}

#main-menu li.nav-item.active {
  border-bottom: 3px solid $theme-yellow;
}

/* Button Yellow */

.byt-btn-yellow {
  color: #fff;
  background-color: $btn-yellow-bgr;
  border-color: $btn-yellow-border;
}

.byt-btn-yellow:hover {
  color: #fff;
  background-color: $btn-yellow-bgr-hover;
  border-color: $btn-yellow-border;
}

/* Media queryes */

@media screen and (max-width: 480px) {

  .byt-top-bgr {
    background: url("../img/hero-mobile.png") 30% 0 no-repeat fixed;
    margin: 0;
    min-height: 400px;
    background-size: cover;
    border-radius: 0 !important;
  }

  #top-contacts {
    display: none;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    img {
      width: 30vw;
      height: auto;
    }
  }

  .byt-hero-content {
    padding: 50px;
    text-align: center;
    color: white;

    h1 {
      font-size: 3em !important;
      font-weight: bolder;

      span {
        color: #f5d109;
      }
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
