/* Section Hero */

#hero {
  padding-top: 1rem !important;
}

.byt-top-bgr {
  background: url("../img/hero.png") no-repeat fixed;
  margin: 0;
  min-height: 600px;
  background-size: cover;
  border-radius: 0 !important;

}

.byt-top-contacts {
  height: 50px;
  color: white;

  .nav-item {
    color: white;
    letter-spacing: -0.5px;
    font-size: 0.85rem;
  }
}

.byt-hero-content {
  padding: 100px;
  text-align: right;
  color: white;

  h1 {
    font-size: 5rem !important;
    font-weight: bolder;

    span {
      color: #f5d109;
    }
  }

  h5 {
    max-width: 50%;
    text-align: right;
    margin-left: 50%;
    line-height: 2rem;
  }

}

/* Navbar styling */
.navbar {
  padding: 1rem 1.5rem;
}
.navbar-brand {
  img {
    width: 100%;
    height: auto;
  }
}
a.nav-link {
  letter-spacing: -1px;
}

#main-menu li.nav-item:hover {
  border-bottom: 3px solid $theme-yellow;
}

#main-menu li.nav-item.active {
  border-bottom: 3px solid $theme-yellow;
}


.changednav {
  padding: 0.3rem 1rem !important;
  box-shadow: 1px 1px 8px #ccc !important;
  background-color: #fff !important;
}
.changednav a.navbar-brand > img {
  height: 50px;
  width: auto;

}

.change-top-cont {
  display: none;
}


/* Hero Media queries for Extra Small mobile devices */
@media screen and (max-width: 576px) {

  .byt-top-bgr {
    background: url("../img/hero-mobile.png") 30% 0 no-repeat fixed;
    margin: 0;
    min-height: 400px;
    background-size: cover;
    border-radius: 0 !important;
  }

  #top-contacts {
    display: none;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand,
  .changednav a.navbar-brand {
    img {
      max-width: 30vw;
      height: auto;
      display: inline-block;

    }
  }
  .byt-hero-content {
    padding: 30px 10px;
    text-align: center;
    color: white;

    h1 {
      font-size: 3em !important;
      font-weight: bolder;

      span {
        color: #f5d109;
      }
    }

    h5 {
      font-size: 1.3rem;
      text-align: center;
      min-width: 100%;
      margin: 0;
    }
  }

}
