/* Section Hero */
// https://webdesign.tutsplus.com/tutorials/how-to-make-the-bootstrap-navbar-dropdown-work-on-hover--cms-33840

#hero {
  padding-top: 1rem !important;
}

.byt-hero {
  background: url('../img/hero.png') center center/cover no-repeat fixed;
  margin: 0;
  min-height: 600px;
  border-radius: 0 !important;

}

.byt-top-contacts {
  height: 50px;
  color: white;

  .nav-item {
    color: white;
    letter-spacing: -0.5px;
    font-size: 0.85rem;
  }
}

.byt-hero-content {
  padding: 100px;
  text-align: right;
  color: white;

  h1 {
    font-size: 5rem !important;
    font-weight: bolder;

    span {
      color: #f5d109;
    }
  }

  h5 {
    max-width: 50%;
    text-align: right;
    margin-left: 50%;
    line-height: 2rem;
  }

}

/* Navbar styling */
.navbar {
  padding: 1rem 1.5rem;
}
.navbar-brand {
  img {
    width: 100%;
    height: auto;
  }
}
a.nav-link {
  letter-spacing: -1px;
}

#main-menu li.nav-item:hover {
  border-bottom: 3px solid $theme-yellow;
}

#main-menu li.nav-item.active {
  border-bottom: 3px solid $theme-yellow;
}

/* Hover Drop down menu */
.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

#main-menu li.dropdown {
  border-bottom: none !important;
}

#main-menu a.dropdown-item:hover {
  background-color: $theme-yellow;
  color: $theme-white-dark;
  transition: all 0.3s;

}
/*
#main-menu .dropdown-menu.show a{
  transition: all 1s ease-in-out !important;
}*/

/* Change Navbar on scroll */
.changednav {
  padding: 0.3rem 1rem !important;
  box-shadow: 1px 1px 8px #ccc !important;
  background-color: #fff !important;
}
.changednav a.navbar-brand > img {
  height: 50px;
  width: auto;

}

.change-top-cont {
  display: none;
}


/* Hero Media queries for Extra Small mobile devices */
@media screen and (max-width: 576px) {

  .byt-hero {
    background: url("../img/hero-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
  }

  #top-contacts {
    display: none;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand,
  .changednav a.navbar-brand {
    img {
      max-width: 30vw;
      height: auto;
      display: inline-block;

    }
  }
  .byt-hero-content {
    padding: 30px 10px;
    text-align: center;
    color: white;

    h1 {
      font-size: 3em !important;
      font-weight: bolder;

      span {
        color: #f5d109;
      }
    }

    h5 {
      font-size: 1.3rem;
      text-align: center;
      min-width: 100%;
      margin: 0;
    }
  }

}
