/* Section Hero */

#hero {
  padding-top: 1rem !important;
}

.byt-top-bgr {
  background: url("../img/hero.jpg") no-repeat fixed;
  margin: 0;
  min-height: 600px;
  background-size: cover;
  border-radius: 0 !important;

}

.byt-top-contacts {
  height: 50px;
  color: white;

  .nav-item {
    color: white;
    letter-spacing: -0.5px;
  }
}

.byt-hero-content {
  padding: 100px;
  text-align: right;
  color: white;

  h1 {
    font-size: 5rem !important;
    font-weight: bolder;

    span {
      color: #f5d109;
    }
  }
}

/* Navbar styling */
.navbar-brand {
  width: 15vw;
}
a.nav-link {
  letter-spacing: -1px;
}

#main-menu li.nav-item:hover {
  border-bottom: 3px solid $theme-yellow;
}

#main-menu li.nav-item.active {
  border-bottom: 3px solid $theme-yellow;
}

/* Button Yellow */

.byt-btn-yellow {
  color: #fff;
  background-color: $btn-yellow-bgr;
  border-color: $btn-yellow-border;
}

.byt-btn-yellow:hover {
  color: #fff;
  background-color: $btn-yellow-bgr-hover;
  border-color: $btn-yellow-border;
}

/* Media queryes */

