/*--------------------------------------
    == 3. Section services styles ==
----------------------------------------*/

.byt-service-label {
  position: absolute;
  bottom: 25px;
  left: 0;

  .byt-service-lbl-yll {
    background: $theme-yellow;
    padding: 8px 10px;
    margin-left: 0;
    display: inline-block;
    position: sticky;
  }

  .byt-service-lbl-bl {
    display: inline-block;
    min-width: 130px !important;
    background: black;
    padding: 8px 10px;
    color: white;
    text-align: center;
  }
}

.byt-service-lbl-yll::after {
  position: absolute;
  right: 0;
  transform: skewX(-16.5deg);
  transform-origin: right bottom;
  content: "";
  background: $theme-yellow;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 3px $theme-yellow-light;
}

.byt-service-text {
  position: absolute;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  padding: 15px 40px;
  margin: -20px 0;
  color: white;
  top: 20%;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;

  h4 {
    color: #000;
    font-weight: bolder;
  }

  a {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
  }

}

.byt-img-container {
  background-color: $theme-yellow;
  padding: 0;
  border: none;
  // margin: 0 15px 15px 0;
  width: 100%;
  height: auto;
}

div.corner-border-container {
  background: $theme-white-dark;
  padding: 1em;
  position: relative;
  width: 100%;
  height: auto;
  margin: 3em auto;
  border: solid 2px $theme-yellow;
}

div.corner-border-container::before, div::after {
  position: absolute;
  background: inherit;
  content: '';
  z-index: 1;
}

div.corner-border-container::before {
  width: 100px;
  left: calc(50% - 50px);
  height: calc(100% + 4px);
  top: -2px;
}

div.corner-border-container::after {
  height: 100px;
  left: -2px;
  width: calc(100% + 4px);
  top: calc(50% - 50px);
}

div.corner-border-container > * {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 360px) {
  .byt-service-text {
    padding: 5px 15px;
    margin: -40px 0;
    font-size: 0.85em;
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .byt-service-text {
    padding: 5px 10px 5px 20px;
    margin: -20px 0;
    min-width: 100%;

    p, h4, a {
      font-size: 0.65em;

    }
  }
}
