@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

$theme-yellow: #f5d109;
$theme-yellow-dark: #d1b815;
$theme-grey: #676767;
$theme-grey-light: #7e7e7e;
$theme-white-dark: #f7f9fa;
$theme-body-bg: #f2f4f6;
$theme-blue-grey: #304555;
$theme-blue-grey-light: #6087a5;
$theme-blue-grey-extralight: #C2C4C8;
$theme-blue-dark: #212c33;
$theme-blue-darker: #151c21;

$btn-yellow-bgr: $theme-yellow;
$btn-yellow-bgr-hover: $theme-yellow-dark;

// Fonts
$font-family: 'Hind', 'Helvetica', sans-serif;
$font-grey: $theme-grey;
