@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

$theme-yellow: #f5d109;
$btn-yellow-bgr: $theme-yellow;
$btn-yellow-border: #d7be15;
$btn-yellow-bgr-hover: #d1b815;

// Fonts
$font-family: 'Hind', 'Helvetica', sans-serif;
$font-grey: #676767;
